@page "/Attractions"

<PageTitle>Index</PageTitle>

<h2>Attractions</h2>
<p>1. Georgia Aquarium, Atlanta
<br>
One of the biggest Aquariums in the Western Half of the globe, the Georgia Aquarium is an impressive spot to visit. This public aquarium is home to north of many species and in excess of 100,000 oceanic creatures. These are housed inside 11 million U.S. gallons of water and one of the biggest water tanks.</p>

<p>2.Atlanta Greenhouse With 30 sections of land of show plants, the Atlanta Greenhouse is presumably the best vacation destination in Georgia. Working starting around 1976, it is home to various more modest themed gardens, each displaying an alternate scene. The office starts with Rose Nursery and Japanese Nursery and further grows with Youngsters' Nursery, a Rainforest room, Dorothy Chapman Fuqua Center, and perpetual exceptional and fascinating highlights. What requests the most here is the Fuqua Orchid Center which shows orchids of all shapes and varieties. Atlanta Greenhouse has such a lot of put away that no two visit here is ever something very similar. Being a four-season garden, it has everything from fall foliage, spring bulb show, summer greens, as well as winter wonders</p>