@page "/"
@attribute [AllowAnonymous]
@inject CustomAuthenticationStateProvider _authenticationStateProvider

<PageTitle>Index</PageTitle>

<h1>Georgia Tourism!</h1>

<img src="georgia.jpg" width=1100 height=350>


<br>
<br>
<p>Georgia was admitted as a state in 1788 and was one of the Confederate States of America. It was once primarily a farm state, producing large amounts of cotton, but has since become a major manufacturing and service industry state. Georgia is named for George II of England. It is bordered by Tennessee, South Carolina, Alabama, North Carolina, and Florida. The population of the state is estimated at about 8,186,453. Caucasian people make up about 71% of Georgia's population, while African-Americans account for about 27%. The rest is mostly Chinese, Koreans, Hispanics, and American Indians. About 63% of Georgia's people live in urban areas, such as Atlanta, Columbus, Savannah, and Macon. It is the 10th largest state by population.</p>.
<br> Get Ready for Georgia !!

<SurveyPrompt Title="Have you visited Georgia state before?" />

<button class="btn btn-primary" @onclick="RegularUserClicked">Regular User Login </button>
<button class="btn btn-secondary" @onclick="AdminUserClicked">Admin User Login </button>

@code{
    private void RegularUserClicked(){
        _authenticationStateProvider.RegularFakedSignIn();
    }

    private void AdminUserClicked(){
        _authenticationStateProvider.AdminFakedSignIn();
    }
}